@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing:border-box;
}           
body{
    background-color:black;
    font-family: Poppins,sans-serif;
    margin:0;
}

header{
    height: 100vh;
    background-image: url("https://www.filmibeat.com/ph-big/2015/04/piku-poster_142976700300.jpg");
    background-size: cover;
    position: relative; 
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;   
}
header::after{
    content:'';
    background-color: black;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    opacity:0.7;
}          
nav{
    background-color: #d8cb11;
    background-image: linear-gradient(to right, rgb(236, 236, 22),rgba(12, 12, 12,0.7));
    color:#fff;
    padding:10px;
    display: flex;
    justify-content:first baseline;
    position: absolute;;
    top:0;
    left:0;
    right: 0;
    z-index:100;
   
}
.nav{
    text-decoration: none;
    padding:0.5em;
    color: black;
    font-size: 1.2em;

}
nav #but{
    margin-right: 10px;
    border:1px solid black;  
    border-radius: 3px;
    font-size: 1.7em;
    padding: 0.5%;
    margin-left: 10px;
    background:linear-gradient(gold,rgba(119, 80, 80,0.2));
    text-decoration: none;
    color: black;
    
}
.sec{
  color:#ffffff;
  margin-left: 15px;
}
.image :hover{
    transform: scale(1.08);
}

img{
    
    width: 220px;
    height: 200px;
    margin-left: 11.5px;
    margin-top: 10px;
}

footer{
    background-color: #d8cb11;
    background-image: linear-gradient(to right, rgb(236, 236, 22),rgba(12, 12, 12,0.7));
    color:#000;
    padding:10px;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 15px;;
}

footer .fa-heart{
    color:rgb(221, 31, 31);
}

@media (min-width:750px){
    header{
        height: 100vh;
        background-image: url("https://cdn.wallpapersafari.com/30/4/tWaCfe.jpg");
        background-size: cover;
        position: relative; 
        color:#fff;
        display:flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;   
    }
    header::after{
        content:'';
        background-color: black;
        position: absolute;
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        opacity:0.7;
    }   
}